@import "/src/styles/_variables.scss";


.button, .buttonLink, .deleteButton {
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button {
    color: $white;
    background-color: $blue;
    padding: 0.3rem 1rem;
    min-width: 100px;

    &:hover {
        background-color: $grayBlue;
    }
}

.buttonLink {
    color: $dustyBlue;
    background: transparent;
}

.deleteButton {
    background-color: transparent;
    color: red;
}
