.button {
  color: white;
  background-color: #5188C1;
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem 1rem;
  min-width: 100px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #658FB7;
  }
}

.buttonLink {
  border: none;
  color: #7F91A4;
}

