@import "/src/styles/_variables.scss";

.pageChat {
    background-color: $black;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
}

.usersBlock,
.messageInput,
.messageHeader {
    background-color: $darkGray;
}

.usersBlock, .usersBlockSettings {
    width: 30%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.usersHeader {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileSettings {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.createChatContainer {
    display: flex;
    gap: 10px;
}

.messageBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messageHeader,
.messageInput {
    height: 50px;
}

.messageHeader {
    height: 50px;
    color: #7f91a4;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.infoChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messageLine {
    height: 100%;
    padding: 8px;
    overflow-y: scroll;
}

.messageDate {
    color: $dustyBlue;
    margin: 0 auto;
}

.messageInput {
    display: flex;
    padding: 0 8px;
    gap: 0.8rem;
    align-items: center;

    img {
        width: 20px;
    }
}



.inputSearch,
.inputMessage, .select{
    background-color: transparent;
    border: none;
    color: $white;
}

.select, .inputSearch {
    border-radius: 5px;
    background-color: $black;
    padding: 0 4px;
}

.select {
    width: 170px;
    height: 25px;
}

.inputSearch {
    width: 96%;
    height: 100%;

}

.inputMessage {
    flex: 1;
    height: 75%;
    width: 100%;
}
