@import "/src/styles/_variables.scss";

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42;
}

html body {
    color: $white;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    font-size: 14px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
}


.errorWindowShow, .errorWindowHide {
    position: fixed;
    bottom: 9px;
    right: 7px;
    color: red;
    font-size: 17px;
    padding: 1rem;
    background-color: black;
    border-radius: 10px;
    transition: right 0.3s ease
}

.errorWindowShow {
    right: 7px;
}

.errorWindowHide {
    right: -1000px;
}
