$blue: #5188c1; //buttons
$grayBlue: #658fb7; //hover-buttons
$dustyBlue: #7f91a4; //small text
$black: black; //background chat
$white: white;
$darkGray: #17212b; //background blocks chat, background message
$darkBlue: #5188c1; // name users
$error: red;

$defaultPrimary: #07263c; //background page
$lightPrimary: #2b5279; //background message
